{% extends 'store/base.html' %}
{% load static %}

{% load humanize %}
{% load i18n %}
{% load l10n %}

{% load cart_template_tags %}

{% block content %}
<br>
<br>
<br>
<br>

<!--Main layout-->
<main>
    <div class="container">
        <div class="table-responsive text-nowrap">
            <h2>Order Summary</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total Item Price</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order_item in object.product.all %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ order_item.product.name }}</td>
                            {% language 'de' %}
                                <td>{{ order_item.product.price|intcomma }}</td>
                            {% endlanguage %}
                            <td>
                                <a href="{% url 'store:remove-single-product' order_item.product.slug %}">
                                    <i class="fas fa-minus mr-2"></i>
                                </a>

                                {{order_item.quantity}}

                                <a href="{% url 'store:add-to-cart' order_item.product.slug %}">
                                    <i class="fas fa-plus ml-2"></i>
                                </a>
                            </td>
                            <td>

                                {% language 'de' %}
                                    {% if order_item.product.discount_price %}
                                        <del>{{ order_item.get_total_item_price|intcomma }}</del>
                                        {{ order_item.get_total_discount_item_price|intcomma }}
                                        <span class="badge badge-primary">Saving Rp.{{ order_item.get_amount_saved|intcomma }}</span>
                                    {% else %}
                                        {{ order_item.get_total_item_price|intcomma }}
                                    {% endif %}
                                {% endlanguage %}

                                <a style="color: red; float: right;"
                                    href="{% url 'store:remove-from-cart' order_item.product.slug %}">
                                    <i class="fas fa-trash"></i>
                                </a>

                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">Your cart is empty</td>
                        </tr>
                    {% endfor %}


                    {% if object.coupon %}
                        <tr>
                            <td colspan="4">
                                <b>Coupon</b>
                            </td>
                            <td>
                                <b>
                                    {% language 'de' %}
                                    Rp. -{{ object.coupon.amount|intcomma }}
                                    {% endlanguage %}
                                </b>
                            </td>
                        </tr>
                    {% endif %}


                    {% if object.get_total %}
                        <tr>
                            <td colspan="4">
                                <b>Order Total</b>
                            </td>
                            <td>
                                <b>
                                    {% language 'de' %}
                                    {{ object.get_total|intcomma }}
                                    {% endlanguage %}
                                </b>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                <a class="btn btn-primary float-right ml-2" href="{% url 'store:checkout' %}">
                                    Proceed to Checkout
                                </a>
                                <a class="btn btn-secondary float-right" href="{% url 'store:home' %}">
                                    Continue Shopping
                                </a>
                            </td>
                        </tr>
                    {% endif %}

                </tbody>
            </table>

        </div>
    </div>
</main>
<!--Main layout-->
{% endblock content %}